In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Make a GET request to the Wikipedia page
url = 'https://en.wikipedia.org/wiki/NIFTY_50'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table with class "wikitable sortable" and id "constituents"
table = soup.find('table', {'class': 'wikitable sortable', 'id': 'constituents'})

# Create a list to store the table data
data = []

# Find all rows in the table
rows = table.find_all('tr')

# Loop through the rows and extract the data
for row in rows:
    cols = row.find_all('td')
    cols = [col.text.strip() for col in cols]
    data.append(cols)

In [30]:
# Create a pandas DataFrame from the table data
df = pd.DataFrame(data, columns=['Company Name', 'Symbol', 'Sector'])
df.dropna(inplace=True)
# Print the DataFrame
df['Symbol'] = df['Symbol'] +".NS"
df.head()

        Company Name         Symbol             Sector
1  Adani Enterprises    ADANIENT.NS        Diversified
2  Adani Ports & SEZ  ADANIPORTS.NS     Infrastructure
3   Apollo Hospitals  APOLLOHOSP.NS         Healthcare
4       Asian Paints  ASIANPAINT.NS  Consumer Durables
5          Axis Bank    AXISBANK.NS            Banking

In [31]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()
# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y_%H:%M:%S")
print(f"Exporting the csv for {dt_string} date and time")

df.to_csv(
    f"""nifty50_tickers.csv""", index=False)

Exporting the csv for 11/04/2023_20:18:28 date and time

In [27]:
now = datetime.now()
# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y_%H:%M:%S")
print(f"Exporting the csv for {dt_string} date and time")

Exporting the csv for 11/04/2023_20:15:30 date and time

In [34]:
nifty50_ticker_url = {}
for ticker in df['Symbol']:
    nifty50_ticker_url[ticker] = (f"https://finance.yahoo.com/quote/{ticker}?p={ticker}&.tsrc=fin-srch")

In [39]:
list_nifty50_ticker_url = list(nifty50_ticker_url.keys())

In [40]:
list_nifty50_ticker_url[:5]

['ADANIENT.NS',
 'ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS']

In [41]:
import yfinance as yf

In [43]:
intraday_data = {}
for ticker in list_nifty50_ticker_url:
    intraday_data[ticker] = yf.download(ticker, period='1mo', interval="1d")

[*********************100%***********************]  1 of 1 completed

KeyError: 'ADANIENT.NS'

In [44]:
data_1mo_1d = yf.download("ADANIENT.NS", period='1mo', interval="1d")

[*********************100%***********************]  1 of 1 completed

In [45]:
data_1mo_1d

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-03-13,1917.000000,1985.000000,1857.400024,1874.400024,1874.400024,7572604
2023-03-14,1874.000000,1874.849976,1651.349976,1738.199951,1738.199951,12679663
2023-03-15,1760.900024,1891.449951,1728.099976,1839.000000,1839.000000,12296703
2023-03-16,1861.000000,1875.000000,1795.000000,1843.800049,1843.800049,6509495
2023-03-17,1901.000000,1918.849976,1845.000000,1876.550049,1876.550049,5969594
2023-03-20,1837.000000,1849.949951,1777.400024,1804.949951,1804.949951,5168139
2023-03-21,1836.949951,1861.000000,1804.949951,1824.250000,1824.250000,4094018
2023-03-22,1834.000000,1850.000000,1806.150024,1815.400024,1815.400024,3248124
2023-03-23,1794.000000,1834.000000,1780.000000,1794.000000,1794.000000,4108804
2023-03-24,1796.000000,1823.000000,1695.250000,1740.650024,1740.650024,6187968
2023-03-27,1740.650024,1757.400024,1682.000000,1723.050049,1723.050049,5053055
2023-03-28,1727.949951,1733.000000,1573.000000,1600.849976,1600.849976,8144878
2023-03-29,1602.949951,1756.000000,1591.099976,1740.400024,1740.400024,9332702
2023-03-31,1788.000000,1825.000000,1740.000000,1750.449951,1750.449951,4893249
2023-04-03,1750.449951,1754.949951,1695.500000,1717.449951,1717.449951,3445796
2023-04-05,1717.449951,1737.949951,1671.550049,1698.000000,1698.000000,3690559
2023-04-06,1705.000000,1793.650024,1688.150024,1754.050049,1754.050049,6012473
2023-04-10,1774.000000,1812.699951,1760.599976,1797.250000,1797.250000,4197975
2023-04-11,1810.000000,1829.000000,1792.849976,1803.150024,1803.150024,2883672

In [46]:
intraday_data = {}
for ticker in list_nifty50_ticker_url:
    try:
        intraday_data[ticker] = yf.download(ticker, period='1mo', interval="1d")
    except KeyError:
        print(f"Data not available for {ticker}")
        continue

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- INFY.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ITC.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JSWSTEEL.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KOTAKBANK.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LT.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- M&M.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MARUTI.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NESTLEIND.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NTPC.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ONGC.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- POWERGRID.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RELIANCE.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SBILIFE.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SBIN.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SUNPHARMA.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TATAMOTORS.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TATASTEEL.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TCS.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TATACONSUM.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TECHM.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TITAN.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ULTRACEMCO.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- UPL.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WIPRO.NS: No data found for this date range, symbol may be delisted

In [48]:
tickers_final = list(intraday_data.keys())

In [51]:
tickers_final

['ADANIENT.NS',
 'ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BPCL.NS',
 'BHARTIARTL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DIVISLAB.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFC.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'ITC.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBILIFE.NS',
 'SBIN.NS',
 'SUNPHARMA.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TATACONSUM.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'UPL.NS',
 'WIPRO.NS']

In [53]:
intraday_data[tickers_final[1]]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-03-13,703.700012,710.549988,677.150024,681.200012,681.200012,9693337
2023-03-14,681.200012,684.549988,638.599976,654.500000,654.500000,18147337
2023-03-15,661.549988,687.849976,657.250000,679.349976,679.349976,15514873
2023-03-16,686.900024,692.349976,675.150024,679.599976,679.599976,12992236
2023-03-17,688.500000,691.750000,671.299988,680.349976,680.349976,7625895
2023-03-20,671.000000,677.750000,659.299988,666.750000,666.750000,5250369
2023-03-21,671.500000,674.400024,661.200012,664.799988,664.799988,5011027
2023-03-22,669.900024,671.900024,654.150024,657.150024,657.150024,4457720
2023-03-23,655.000000,667.349976,652.049988,654.950012,654.950012,4491324
2023-03-24,658.200012,660.650024,633.950012,638.000000,638.000000,6072701
2023-03-27,638.000000,644.849976,625.500000,629.099976,629.099976,5621870
2023-03-28,622.599976,627.799988,571.549988,593.400024,593.400024,19860622
2023-03-29,593.349976,642.549988,590.099976,636.650024,636.650024,17057169
2023-03-31,643.900024,655.400024,627.349976,631.900024,631.900024,9466910
2023-04-03,638.549988,639.000000,622.150024,627.799988,627.799988,6072184
2023-04-05,626.900024,639.799988,625.049988,636.750000,636.750000,6622367
2023-04-06,637.000000,651.349976,631.549988,641.599976,641.599976,7094042
2023-04-10,646.000000,657.000000,643.000000,652.000000,652.000000,4254629
2023-04-11,655.000000,660.250000,647.400024,653.950012,653.950012,3798770

In [61]:
df = pd.DataFrame.from_dict(intraday_data)

ValueError: If using all scalar values, you must pass an index

In [62]:
intraday_data

{'ADANIENT.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2023-03-13  1917.000000  1985.000000  1857.400024  1874.400024  1874.400024
 2023-03-14  1874.000000  1874.849976  1651.349976  1738.199951  1738.199951
 2023-03-15  1760.900024  1891.449951  1728.099976  1839.000000  1839.000000
 2023-03-16  1861.000000  1875.000000  1795.000000  1843.800049  1843.800049
 2023-03-17  1901.000000  1918.849976  1845.000000  1876.550049  1876.550049
 2023-03-20  1837.000000  1849.949951  1777.400024  1804.949951  1804.949951
 2023-03-21  1836.949951  1861.000000  1804.949951  1824.250000  1824.250000
 2023-03-22  1834.000000  1850.000000  1806.150024  1815.400024  1815.400024
 2023-03-23  1794.000000  1834.000000  1780.000000  1794.000000  1794.000000
 2023-03-24  1796.000000  1823.000000  1695.250000  1740.650024  1740.650024
 2023-03-27  1740.650024  1757.400024  1682.000000  1723.050049  1723.050049
 2023-03-28  1727.949951  1733.000000  1573.000000  1600.849976  1600.849976
 2023-03-29  1602.949951  1756.000000  1591.099976  1740.400024  1740.400024
 2023-03-31  1788.000000  1825.000000  1740.000000  1750.449951  1750.449951
 2023-04-03  1750.449951  1754.949951  1695.500000  1717.449951  1717.449951
 2023-04-05  1717.449951  1737.949951  1671.550049  1698.000000  1698.000000
 2023-04-06  1705.000000  1793.650024  1688.150024  1754.050049  1754.050049
 2023-04-10  1774.000000  1812.699951  1760.599976  1797.250000  1797.250000
 2023-04-11  1810.000000  1829.000000  1792.849976  1803.150024  1803.150024

               Volume
 Date
 2023-03-13   7572604
 2023-03-14  12679663
 2023-03-15  12296703
 2023-03-16   6509495
 2023-03-17   5969594
 2023-03-20   5168139
 2023-03-21   4094018
 2023-03-22   3248124
 2023-03-23   4108804
 2023-03-24   6187968
 2023-03-27   5053055
 2023-03-28   8144878
 2023-03-29   9332702
 2023-03-31   4893249
 2023-04-03   3445796
 2023-04-05   3690559
 2023-04-06   6012473
 2023-04-10   4197975
 2023-04-11   2883672  ,
 'ADANIPORTS.NS':                   Open        High         Low       Close   Adj Close  \
 Date
 2023-03-13  703.700012  710.549988  677.150024  681.200012  681.200012
 2023-03-14  681.200012  684.549988  638.599976  654.500000  654.500000
 2023-03-15  661.549988  687.849976  657.250000  679.349976  679.349976
 2023-03-16  686.900024  692.349976  675.150024  679.599976  679.599976
 2023-03-17  688.500000  691.750000  671.299988  680.349976  680.349976
 2023-03-20  671.000000  677.750000  659.299988  666.750000  666.750000
 2023-03-21  671.500000  674.400024  661.200012  664.799988  664.799988
 2023-03-22  669.900024  671.900024  654.150024  657.150024  657.150024
 2023-03-23  655.000000  667.349976  652.049988  654.950012  654.950012
 2023-03-24  658.200012  660.650024  633.950012  638.000000  638.000000
 2023-03-27  638.000000  644.849976  625.500000  629.099976  629.099976
 2023-03-28  622.599976  627.799988  571.549988  593.400024  593.400024
 2023-03-29  593.349976  642.549988  590.099976  636.650024  636.650024
 2023-03-31  643.900024  655.400024  627.349976  631.900024  631.900024
 2023-04-03  638.549988  639.000000  622.150024  627.799988  627.799988
 2023-04-05  626.900024  639.799988  625.049988  636.750000  636.750000
 2023-04-06  637.000000  651.349976  631.549988  641.599976  641.599976
 2023-04-10  646.000000  657.000000  643.000000  652.000000  652.000000
 2023-04-11  655.000000  660.250000  647.400024  653.950012  653.950012

               Volume
 Date
 2023-03-13   9693337
 2023-03-14  18147337
 2023-03-15  15514873
 2023-03-16  12992236
 2023-03-17   7625895
 2023-03-20   5250369
 2023-03-21   5011027
 2023-03-22   4457720
 2023-03-23   4491324
 2023-03-24   6072701
 2023-03-27   5621870
 2023-03-28  19860622
 2023-03-29  17057169
 2023-03-31   9466910
 2023-04-03   6072184
 2023-04-05   6622367
 2023-04-06   7094042
 2023-04-10   4254629
 2023-04-11   3798770  ,
 'APOLLOHOSP.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2023-03-13  4327.000000  4435.950195  4322.000000  4345.000000  4345.000000
 2023-03-14  4345.000000  4354.750000  4275.000000  4299.600098  4299.600098
 2023-03-15  4334.750000  4367.950195  4309.299805  4328.799805  4328.799805
 2023-03-16  4330.950195  4370.000000  4266.000000  4319.049805  4319.049805
 2023-03-17  4340.000000  4376.200195  4296.700195  4346.500000  4346.500000
 2023-03-20  4322.000000  4353.899902  4195.000000  4313.000000  4313.000000
 2023-03-21  4320.000000  4353.899902  4266.000000  4274.000000  4274.000000
 2023-03-22  4275.049805  4295.000000  4211.100098  4285.100098  4285.100098
 2023-03-23  4276.000000  4299.350098  4243.549805  4273.049805  4273.049805
 2023-03-24  4277.500000  4354.649902  4261.000000  4283.350098  4283.350098
 2023-03-27  4304.700195  4407.899902  4277.000000  4318.100098  4318.100098
 2023-03-28  4334.799805  4343.500000  4245.049805  4333.600098  4333.600098
 2023-03-29  4333.600098  4380.000000  4311.100098  4363.000000  4363.000000
 2023-03-31  4384.850098  4400.950195  4299.950195  4310.899902  4310.899902
 2023-04-03  4343.500000  4343.950195  4220.149902  4234.350098  4234.350098
 2023-04-05  4250.000000  4250.000000  4168.000000  4200.950195  4200.950195
 2023-04-06  4217.000000  4225.000000  4183.149902  4201.950195  4201.950195
 2023-04-10  4215.000000  4243.649902  4187.299805  4237.000000  4237.000000
 2023-04-11  4263.000000  4286.799805  4221.149902  4271.299805  4271.299805

             Volume
 Date
 2023-03-13  496455
 2023-03-14  279237
 2023-03-15  279479
 2023-03-16  300181
 2023-03-17  368653
 2023-03-20  563835
 2023-03-21  239304
 2023-03-22  302705
 2023-03-23  233054
 2023-03-24  354933
 2023-03-27  495895
 2023-03-28  343628
 2023-03-29  250790
 2023-03-31  465663
 2023-04-03  493574
 2023-04-05  622533
 2023-04-06  286725
 2023-04-10  323560
 2023-04-11  284178  ,
 'ASIANPAINT.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2023-03-13  2823.500000  2849.449951  2772.199951  2784.199951  2784.199951
 2023-03-14  2782.949951  2786.949951  2740.050049  2745.600098  2745.600098
 2023-03-15  2772.199951  2866.350098  2765.199951  2827.399902  2827.399902
 2023-03-16  2850.000000  2900.000000  2828.699951  2893.250000  2893.250000
 2023-03-17  2923.949951  2923.949951  2855.050049  2862.649902  2862.649902
 2023-03-20  2915.000000  2915.000000  2831.050049  2855.149902  2855.149902
 2023-03-21  2858.149902  2887.000000  2835.000000  2839.100098  2839.100098
 2023-03-22  2825.000000  2853.149902  2814.850098  2839.850098  2839.850098
 2023-03-23  2817.100098  2823.000000  2767.750000  2797.800049  2797.800049
 2023-03-24  2797.800049  2815.649902  2772.850098  2798.500000  2798.500000
 2023-03-27  2798.500000  2820.000000  2786.500000  2803.750000  2803.750000
 2023-03-28  2791.000000  2810.600098  2765.000000  2784.449951  2784.449951
 2023-03-29  2784.449951  2793.750000  2755.000000  2770.500000  2770.500000
 2023-03-31  2756.050049  2775.000000  2747.500000  2761.649902  2761.649902
 2023-04-03  2746.949951  2781.649902  2708.649902  2777.000000  2777.000000
 2023-04-05  2760.000000  2811.550049  2752.250000  2808.500000  2808.500000
 2023-04-06  2807.449951  2825.000000  2786.800049  2809.850098  2809.850098
 2023-04-10  2810.000000  2810.000000  2755.100098  2776.350098  2776.350098
 2023-04-11  2790.000000  2790.000000  2750.050049  2753.800049  2753.800049

              Volume
 Date
 2023-03-13   813217
 2023-03-14  1060450
 2023-03-15  2170346
 2023-03-16  1755487
 2023-03-17  1848073
 2023-03-20  1074367
 2023-03-21   691891
 2023-03-22   731807
 2023-03-23  1016581
 2023-03-24   784111
 2023-03-27   791560
 2023-03-28   558581
 2023-03-29  1087648
 2023-03-31  1967803
 2023-04-03  1035295
 2023-04-05   668643
 2023-04-06   627554
 2023-04-10  1215461
 2023-04-11  1246379  ,
 'AXISBANK.NS':                   Open        High         Low       Close   Adj Close  \
 Date
 2023-03-13  845.599976  857.000000  828.450012  832.349976  832.349976
 2023-03-14  828.000000  835.700012  817.400024  832.849976  832.849976
 2023-03-15  838.049988  843.500000  819.349976  824.049988  824.049988
 2023-03-16  821.500000  837.900024  814.299988  830.549988  830.549988
 2023-03-17  835.000000  841.500000  823.000000  837.400024  837.400024
 2023-03-20  836.000000  841.000000  825.549988  837.549988  837.549988
 2023-03-21  840.099976  857.349976  838.750000  855.599976  855.599976
 2023-03-22  855.599976  859.799988  847.049988  849.650024  849.650024
 2023-03-23  847.000000  861.150024  845.099976  848.799988  848.799988
 2023-03-24  846.250000  852.500000  837.250000  839.900024  839.900024
 2023-03-27  841.049988  842.200012  829.200012  833.349976  833.349976
 2023-03-28  837.400024  837.400024  826.049988  832.450012  832.450012
 2023-03-29  832.500000  848.450012  830.000000  842.599976  842.599976
 2023-03-31  854.900024  860.900024  847.500000  858.500000  858.500000
 2023-04-03  864.000000  866.799988  856.450012  864.599976  864.599976
 2023-04-05  871.000000  871.000000  857.000000  860.500000  860.500000
 2023-04-06  861.799988  863.250000  849.000000  851.950012  851.950012
 2023-04-10  854.799988  854.950012  843.950012  847.349976  847.349976
 2023-04-11  848.250000  855.700012  844.049988  853.299988  853.299988

               Volume
 Date
 2023-03-13   8315798
 2023-03-14  12573734
 2023-03-15   6652641
 2023-03-16   8791383
 2023-03-17   7762461
 2023-03-20  10744023
 2023-03-21  11489951
 2023-03-22   8018924
 2023-03-23   9857892
 2023-03-24   8078718
 2023-03-27  10602508
 2023-03-28  11002402
 2023-03-29  17121194
 2023-03-31  12946752
 2023-04-03  13266882
 2023-04-05  11890015
 2023-04-06  19677316
 2023-04-10  15656078
 2023-04-11  23930907  ,
 'BAJAJ-AUTO.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2023-03-13  3822.949951  3838.000000  3768.300049  3778.449951  3778.449951
 2023-03-14  3778.449951  3794.449951  3735.899902  3752.899902  3752.899902
 2023-03-15  3774.899902  3787.500000  3720.550049  3730.000000  3730.000000
 2023-03-16  3740.949951  3811.000000  3740.949951  3800.199951  3800.199951
 2023-03-17  3817.800049  3827.949951  3792.050049  3814.399902  3814.399902
 2023-03-20  3790.000000  3834.949951  3785.100098  3805.000000  3805.000000
 2023-03-21  3806.500000  3922.000000  3796.750000  3905.699951  3905.699951
 2023-03-22  3921.750000  3945.500000  3888.600098  3923.949951  3923.949951
 2023-03-23  3902.500000  3912.399902  3853.050049  3862.949951  3862.949951
 2023-03-24  3845.100098  3882.899902  3812.000000  3827.899902  3827.899902
 2023-03-27  3834.949951  3844.300049  3800.000000  3807.550049  3807.550049
 2023-03-28  3821.000000  3833.800049  3769.550049  3791.600098  3791.600098
 2023-03-29  3810.500000  3894.000000  3800.149902  3879.300049  3879.300049
 2023-03-31  3875.649902  3907.850098  3860.000000  3884.750000  3884.750000
 2023-04-03  3904.800049  3995.000000  3888.199951  3993.750000  3993.750000
 2023-04-05  3994.000000  4026.949951  3960.050049  4023.149902  4023.149902
 2023-04-06  4028.000000  4065.000000  4020.050049  4033.600098  4033.600098
 2023-04-10  4035.050049  4072.000000  4030.100098  4061.600098  4061.600098
 2023-04-11  4080.000000  4183.549805  4070.550049  4177.399902  4177.399902

             Volume
 Date
 2023-03-13  247745
 2023-03-14  278919
 2023-03-15  317890
 2023-03-16  377544
 2023-03-17  396793
 2023-03-20  331370
 2023-03-21  803886
 2023-03-22  311063
 2023-03-23  256313
 2023-03-24  281359
 2023-03-27  198811
 2023-03-28  144400
 2023-03-29  429300
 2023-03-31  248433
 2023-04-03  497915
 2023-04-05  584697
 2023-04-06  321813
 2023-04-10  218632
 2023-04-11  685931  ,
 'BAJFINANCE.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2023-03-13  5869.000000  5947.500000  5811.000000  5833.549805  5833.549805
 2023-03-14  5840.000000  5850.000000  5716.149902  5731.549805  5731.549805
 2023-03-15  5800.000000  5820.000000  5701.000000  5718.750000  5718.750000
 2023-03-16  5729.700195  5755.000000  5665.000000  5715.100098  5715.100098
 2023-03-17  5740.049805  5816.750000  5688.100098  5732.350098  5732.350098
 2023-03-20  5739.000000  5740.450195  5485.700195  5550.799805  5550.799805
 2023-03-21  5601.799805  5715.000000  5586.149902  5710.100098  5710.100098
 2023-03-22  5749.799805  5857.000000  5735.000000  5834.200195  5834.200195
 2023-03-23  5809.500000  5900.000000  5772.500000  5833.049805  5833.049805
 2023-03-24  5803.899902  5829.750000  5627.200195  5649.250000  5649.250000
 2023-03-27  5698.000000  5725.000000  5584.549805  5593.049805  5593.049805
 2023-03-28  5621.049805  5624.399902  5522.700195  5534.450195  5534.450195
 2023-03-29  5562.149902  5646.000000  5555.000000  5625.200195  5625.200195
 2023-03-31  5694.000000  5694.000000  5586.200195  5616.750000  5616.750000
 2023-04-03  5655.000000  5734.000000  5632.200195  5715.049805  5715.049805
 2023-04-05  5832.000000  5947.049805  5743.149902  5761.299805  5761.299805
 2023-04-06  5761.000000  5959.000000  5705.549805  5932.200195  5932.200195
 2023-04-10  5944.950195  5969.899902  5811.000000  5828.799805  5828.799805
 2023-04-11  5858.000000  5880.000000  5811.149902  5837.750000  5837.750000

              Volume
 Date
 2023-03-13   793356
 2023-03-14  1372565
 2023-03-15   679473
 2023-03-16   884963
 2023-03-17  1047151
 2023-03-20  1712756
 2023-03-21  1130114
 2023-03-22  1242534
 2023-03-23  1054419
 2023-03-24  1278042
 2023-03-27  1118743
 2023-03-28   948136
 2023-03-29  1109612
 2023-03-31  1267828
 2023-04-03   745386
 2023-04-05  2433329
 2023-04-06  1740502
 2023-04-10   928257
 2023-04-11   811620  ,
 'BAJAJFINSV.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2023-03-13  1326.000000  1341.199951  1291.900024  1295.699951  1295.699951
 2023-03-14  1300.000000  1302.300049  1269.000000  1280.550049  1280.550049
 2023-03-15  1290.000000  1309.699951  1278.000000  1282.599976  1282.599976
 2023-03-16  1285.500000  1304.000000  1270.550049  1293.599976  1293.599976
 2023-03-17  1304.949951  1316.300049  1293.000000  1301.750000  1301.750000
 2023-03-20  1305.000000  1307.949951  1231.000000  1245.400024  1245.400024
 2023-03-21  1259.000000  1271.500000  1248.599976  1268.099976  1268.099976
 2023-03-22  1271.000000  1314.949951  1270.550049  1294.550049  1294.550049
 2023-03-23  1291.949951  1310.500000  1278.300049  1290.000000  1290.000000
 2023-03-24  1281.300049  1290.000000  1236.199951  1240.650024  1240.650024
 2023-03-27  1245.000000  1251.599976  1226.650024  1239.099976  1239.099976
 2023-03-28  1245.300049  1247.849976  1215.000000  1223.150024  1223.150024
 2023-03-29  1229.300049  1252.000000  1225.449951  1246.050049  1246.050049
 2023-03-31  1252.300049  1270.000000  1250.000000  1266.500000  1266.500000
 2023-04-03  1273.000000  1286.550049  1265.500000  1282.949951  1282.949951
 2023-04-05  1296.000000  1324.000000  1275.500000  1279.300049  1279.300049
 2023-04-06  1279.300049  1311.449951  1271.349976  1303.949951  1303.949951
 2023-04-10  1311.000000  1317.250000  1295.650024  1305.050049  1305.050049
 2023-04-11  1312.949951  1325.000000  1307.199951  1323.199951  1323.199951

              Volume
 Date
 2023-03-13  1668502
 2023-03-14  2060607
 2023-03-15  1376141
 2023-03-16  1539281
 2023-03-17  1332869
 2023-03-20  3970911
 2023-03-21  2333183
 2023-03-22  2884348
 2023-03-23  1947186
 2023-03-24  2676573
 2023-03-27  1553877
 2023-03-28  1510246
 2023-03-29  1657420
 2023-03-31  1830686
 2023-04-03  1381342
 2023-04-05  3366621
 2023-04-06  1819711
 2023-04-10  1297282
 2023-04-11  1281834  ,
 'BPCL.NS':                   Open        High         Low       Close   Adj Close  \
 Date
 2023-03-13  326.000000  326.600006  321.250000  322.600006  322.600006
 2023-03-14  324.200012  328.899994  321.850006  326.200012  326.200012
 2023-03-15  329.000000  333.399994  327.350006  330.299988  330.299988
 2023-03-16  335.000000  352.750000  334.149994  350.899994  350.899994
 2023-03-17  351.000000  354.950012  345.450012  351.399994  351.399994
 2023-03-20  354.850006  361.000000  350.500000  359.649994  359.649994
 2023-03-21  360.200012  361.600006  355.750000  358.549988  358.549988
 2023-03-22  358.299988  359.000000  350.750000  351.799988  351.799988
 2023-03-23  350.000000  351.649994  347.500000  348.350006  348.350006
 2023-03-24  347.899994  349.750000  344.000000  345.399994  345.399994
 2023-03-27  344.100006  346.899994  342.700012  344.850006  344.850006
 2023-03-28  342.000000  342.899994  335.350006  339.850006  339.850006
 2023-03-29  340.000000  342.399994  336.299988  339.850006  339.850006
 2023-03-31  344.899994  346.399994  340.950012  344.299988  344.299988
 2023-04-03  338.000000  338.000000  329.149994  329.950012  329.950012
 2023-04-05  331.899994  332.899994  327.000000  328.049988  328.049988
 2023-04-06  329.299988  333.500000  329.049988  332.000000  332.000000
 2023-04-10  332.000000  336.799988  331.600006  335.799988  335.799988
 2023-04-11  336.149994  339.500000  335.149994  339.100006  339.100006

               Volume
 Date
 2023-03-13   1955447
 2023-03-14   2947326
 2023-03-15   2755973
 2023-03-16  18287315
 2023-03-17  11694506
 2023-03-20   9246173
 2023-03-21   5125281
 2023-03-22   5967027
 2023-03-23   2573088
 2023-03-24   2937744
 2023-03-27   2122963
 2023-03-28   3427158
 2023-03-29   2985920
 2023-03-31   5068755
 2023-04-03   9432372
 2023-04-05   4124579
 2023-04-06   2383915
 2023-04-10   2465309
 2023-04-11   1364947  ,
 'BHARTIARTL.NS':                   Open        High         Low       Close   Adj Close  \
 Date
 2023-03-13  777.450012  777.799988  763.150024  765.299988  765.299988
 2023-03-14  764.000000  776.750000  764.000000  771.799988  771.799988
 2023-03-15  758.000000  765.549988  752.500000  756.650024  756.650024
 2023-03-16  750.000000  759.000000  743.500000  745.950012  745.950012
 2023-03-17  750.000000  759.450012  739.150024  757.250000  757.250000
 2023-03-20  754.950012  759.799988  748.799988  754.799988  754.799988
 2023-03-21  760.000000  766.000000  755.150024  756.950012  756.950012
 2023-03-22  761.000000  763.200012  753.150024  756.700012  756.700012
 2023-03-23  758.000000  765.799988  756.849976  763.549988  763.549988
 2023-03-24  763.549988  767.000000  758.849976  762.450012  762.450012
 2023-03-27  763.000000  769.700012  759.349976  761.750000  761.750000
 2023-03-28  765.599976  765.599976  742.799988  748.450012  748.450012
 2023-03-29  751.000000  754.900024  738.849976  743.599976  743.599976
 2023-03-31  752.150024  753.000000  742.049988  749.000000  749.000000
 2023-04-03  755.000000  761.900024  752.049988  760.549988  760.549988
 2023-04-05  768.000000  768.000000  756.000000  763.450012  763.450012
 2023-04-06  762.599976  768.700012  759.099976  765.950012  765.950012
 2023-04-10  768.950012  776.299988  766.450012  769.750000  769.750000
 2023-04-11  776.000000  776.000000  768.150024  774.150024  774.150024

              Volume
 Date
 2023-03-13  3447889
 2023-03-14  3753502
 2023-03-15  8101060
 2023-03-16  7465693
 2023-03-17  9306857
 2023-03-20  3566109
 2023-03-21  5332221
 2023-03-22  2680654
 2023-03-23  2454948
 2023-03-24  2336818
 2023-03-27  2258853
 2023-03-28  4166723
 2023-03-29  4891868
 2023-03-31  5796532
 2023-04-03  2120667
 2023-04-05  3197932
 2023-04-06  1777379
 2023-04-10  1701065
 2023-04-11  3485481  ,
 'BRITANNIA.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2023-03-13  4309.000000  4346.049805  4290.000000  4307.600098  4307.600098
 2023-03-14  4315.000000  4343.899902  4277.000000  4292.950195  4292.950195
 2023-03-15  4315.000000  4323.649902  4237.600098  4243.100098  4243.100098
 2023-03-16  4263.950195  4320.000000  4250.000000  4311.200195  4311.200195

In [65]:
import json

# Convert the dictionary to a JSON serializable format
serializable_data = {}
for key, value in intraday_data.items():
    value.index = value.index.map(str) # convert timestamps to string format
    serializable_data[key] = value.to_dict()

# Write the serializable data to a JSON file
with open('nifty50_intraday.json', 'w') as f:
    json.dump(serializable_data, f)