In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Make a GET request to the Wikipedia page
url = 'https://en.wikipedia.org/wiki/NIFTY_50'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table with class "wikitable sortable" and id "constituents"
table = soup.find('table', {'class': 'wikitable sortable', 'id': 'constituents'})

# Create a list to store the table data
data = []

# Find all rows in the table
rows = table.find_all('tr')

# Loop through the rows and extract the data
for row in rows:
    cols = row.find_all('td')
    cols = [col.text.strip() for col in cols]
    data.append(cols)

In [30]:
# Create a pandas DataFrame from the table data
df = pd.DataFrame(data, columns=['Company Name', 'Symbol', 'Sector'])
df.dropna(inplace=True)
# Print the DataFrame
df['Symbol'] = df['Symbol'] +".NS"
df.head()

        Company Name         Symbol             Sector
1  Adani Enterprises    ADANIENT.NS        Diversified
2  Adani Ports & SEZ  ADANIPORTS.NS     Infrastructure
3   Apollo Hospitals  APOLLOHOSP.NS         Healthcare
4       Asian Paints  ASIANPAINT.NS  Consumer Durables
5          Axis Bank    AXISBANK.NS            Banking

In [31]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()
# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y_%H:%M:%S")
print(f"Exporting the csv for {dt_string} date and time")

df.to_csv(
    f"""nifty50_tickers.csv""", index=False)

Exporting the csv for 11/04/2023_20:18:28 date and time

In [27]:
now = datetime.now()
# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y_%H:%M:%S")
print(f"Exporting the csv for {dt_string} date and time")

Exporting the csv for 11/04/2023_20:15:30 date and time