In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Make a GET request to the Wikipedia page
url = 'https://en.wikipedia.org/wiki/NIFTY_50'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table with class "wikitable sortable" and id "constituents"
table = soup.find('table', {'class': 'wikitable sortable', 'id': 'constituents'})

# Create a list to store the table data
data = []

# Find all rows in the table
rows = table.find_all('tr')

# Loop through the rows and extract the data
for row in rows:
    cols = row.find_all('td')
    cols = [col.text.strip() for col in cols]
    data.append(cols)

In [30]:
# Create a pandas DataFrame from the table data
df = pd.DataFrame(data, columns=['Company Name', 'Symbol', 'Sector'])
df.dropna(inplace=True)
# Print the DataFrame
df['Symbol'] = df['Symbol'] +".NS"
df.head()

        Company Name         Symbol             Sector
1  Adani Enterprises    ADANIENT.NS        Diversified
2  Adani Ports & SEZ  ADANIPORTS.NS     Infrastructure
3   Apollo Hospitals  APOLLOHOSP.NS         Healthcare
4       Asian Paints  ASIANPAINT.NS  Consumer Durables
5          Axis Bank    AXISBANK.NS            Banking

In [31]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()
# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y_%H:%M:%S")
print(f"Exporting the csv for {dt_string} date and time")

df.to_csv(
    f"""nifty50_tickers.csv""", index=False)

Exporting the csv for 11/04/2023_20:18:28 date and time

In [27]:
now = datetime.now()
# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y_%H:%M:%S")
print(f"Exporting the csv for {dt_string} date and time")

Exporting the csv for 11/04/2023_20:15:30 date and time

In [34]:
nifty50_ticker_url = {}
for ticker in df['Symbol']:
    nifty50_ticker_url[ticker] = (f"https://finance.yahoo.com/quote/{ticker}?p={ticker}&.tsrc=fin-srch")

In [39]:
list_nifty50_ticker_url = list(nifty50_ticker_url.keys())

In [40]:
list_nifty50_ticker_url[:5]

['ADANIENT.NS',
 'ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS']

In [41]:
import yfinance as yf

In [43]:
intraday_data = {}
for ticker in list_nifty50_ticker_url:
    intraday_data[ticker] = yf.download(ticker, period='1mo', interval="1d")

[*********************100%***********************]  1 of 1 completed

KeyError: 'ADANIENT.NS'

In [44]:
data_1mo_1d = yf.download("ADANIENT.NS", period='1mo', interval="1d")

[*********************100%***********************]  1 of 1 completed

In [45]:
data_1mo_1d

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-03-13,1917.000000,1985.000000,1857.400024,1874.400024,1874.400024,7572604
2023-03-14,1874.000000,1874.849976,1651.349976,1738.199951,1738.199951,12679663
2023-03-15,1760.900024,1891.449951,1728.099976,1839.000000,1839.000000,12296703
2023-03-16,1861.000000,1875.000000,1795.000000,1843.800049,1843.800049,6509495
2023-03-17,1901.000000,1918.849976,1845.000000,1876.550049,1876.550049,5969594
2023-03-20,1837.000000,1849.949951,1777.400024,1804.949951,1804.949951,5168139
2023-03-21,1836.949951,1861.000000,1804.949951,1824.250000,1824.250000,4094018
2023-03-22,1834.000000,1850.000000,1806.150024,1815.400024,1815.400024,3248124
2023-03-23,1794.000000,1834.000000,1780.000000,1794.000000,1794.000000,4108804
2023-03-24,1796.000000,1823.000000,1695.250000,1740.650024,1740.650024,6187968
2023-03-27,1740.650024,1757.400024,1682.000000,1723.050049,1723.050049,5053055
2023-03-28,1727.949951,1733.000000,1573.000000,1600.849976,1600.849976,8144878
2023-03-29,1602.949951,1756.000000,1591.099976,1740.400024,1740.400024,9332702
2023-03-31,1788.000000,1825.000000,1740.000000,1750.449951,1750.449951,4893249
2023-04-03,1750.449951,1754.949951,1695.500000,1717.449951,1717.449951,3445796
2023-04-05,1717.449951,1737.949951,1671.550049,1698.000000,1698.000000,3690559
2023-04-06,1705.000000,1793.650024,1688.150024,1754.050049,1754.050049,6012473
2023-04-10,1774.000000,1812.699951,1760.599976,1797.250000,1797.250000,4197975
2023-04-11,1810.000000,1829.000000,1792.849976,1803.150024,1803.150024,2883672