In [2]:
import datetime as dt
import yfinance as yf
import pandas as pd

stocks = ["AMZN","MSFT","INFY.NS","GOOG"]
start = dt.datetime.today()-dt.timedelta(3650)
end = dt.datetime.today()
cl_price = pd.DataFrame() # empty dataframe which will be filled with closing prices of each stock

# looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]
    
# filling NaN values
cl_price.fillna(method='bfill',axis=0,inplace=True)

#dropping NaN values
cl_price.dropna(axis=0,how='any')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 AMZN        MSFT      INFY.NS       GOOG
Date
2012-12-27  12.415500   22.230467   224.784225  17.591312
2012-12-28  12.259000   21.892391   228.267380  17.434900
2012-12-31  12.543500   22.024321   227.825180  17.618462
2013-01-02  12.865500   22.774683   226.891785  18.013729
2013-01-03  12.924000   22.469593   229.711670  18.024191
...               ...         ...          ...        ...
2022-12-19  84.919998  240.449997  1507.349976  89.150002
2022-12-20  85.190002  241.800003  1507.300049  89.629997
2022-12-21  86.769997  244.429993  1509.550049  90.250000
2022-12-22  83.790001  238.190002  1522.050049  88.260002
2022-12-23  85.250000  238.729996  1497.099976  89.809998

[2517 rows x 4 columns]

Here we choose to bfill the nan values because doing so will have no effect on our backtesting code as the daily returns for those values will always be 0 and won't affect our backtesting model.