How to download OHLCV data from yfinance

In [40]:
import yfinance as yf

# get ohlcv data for any ticker by period.
data_1mo_5min = yf.download("MSFT", period='1mo', interval="5m")

# get ohlcv data for any ticker by start date and end date
data_date_range = yf.download("MSFT", start="2017-01-01", end="2020-04-24")

# get intraday data for any ticker by period.
data_1mo_1d = yf.download("MSFT", period='1mo', interval="1d")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [41]:
type(data_1mo_5min)

pandas.core.frame.DataFrame

Getting data for multiple tickers

In [42]:
import datetime as dt
import yfinance as yf
import pandas as pd

stocks = ["AMZN","MSFT","INTC","GOOG","INFY.NS","3988.HK"]

start = dt.datetime.today()-dt.timedelta(360)
end = dt.datetime.today()

cl_price = pd.DataFrame() # empty dataframe which will be filled with closing prices of each stock

ohlcv_data = {} # empty dictionary which will be filled with ohlcv dataframe for each ticker

# looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]
    

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in stocks:
    ohlcv_data[ticker] = yf.download(ticker,start,end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [43]:
cl_price["INFY.NS"].head()

Date
2021-12-28            NaN
2021-12-29    1845.620483
2021-12-30    1852.765869
2021-12-31    1847.773926
2022-01-03    1858.247192
Name: INFY.NS, dtype: float64

In [44]:
ohlcv_data.keys()

dict_keys(['AMZN', 'MSFT', 'INTC', 'GOOG', 'INFY.NS', '3988.HK'])

In [45]:
ohlcv_data["INFY.NS"]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-12-29,1883.500000,1893.800049,1876.400024,1885.550049,1845.620483,3236635
2021-12-30,1884.500000,1909.800049,1874.349976,1892.849976,1852.765869,4584738
2021-12-31,1890.000000,1898.349976,1871.650024,1887.750000,1847.773926,4619420
2022-01-03,1887.750000,1914.050049,1887.750000,1898.449951,1858.247314,3329616
2022-01-04,1898.449951,1906.650024,1878.000000,1899.150024,1858.932495,3921999
...,...,...,...,...,...,...
2022-12-19,1507.949951,1516.900024,1495.050049,1507.349976,1507.349976,6222740
2022-12-20,1501.000000,1516.000000,1482.449951,1507.300049,1507.300049,7396259
2022-12-21,1515.000000,1521.000000,1502.349976,1509.550049,1509.550049,6236361
2022-12-22,1521.500000,1529.949951,1511.750000,1522.050049,1522.050049,6302640
2022-12-23,1508.699951,1509.900024,1493.000000,1497.099976,1497.099976,6282513

Getting data via different package `yahoofinancials`

In [46]:
from yahoofinancials import YahooFinancials

ticker = 'MSFT'
yahoo_financials = YahooFinancials(ticker)
data = yahoo_financials.get_historical_price_data("2018-04-24", "2020-04-24", "daily")

In [47]:
data.keys()

dict_keys(['MSFT'])

In [48]:
(data["MSFT"]["prices"])[:2]

[{'date': 1524576600,
  'high': 96.47000122070312,
  'low': 92.41000366210938,
  'open': 96.23999786376953,
  'close': 93.12000274658203,
  'volume': 34524800,
  'adjclose': 88.10441589355469,
  'formatted_date': '2018-04-24'},
 {'date': 1524663000,
  'high': 93.30000305175781,
  'low': 90.27999877929688,
  'open': 93.30000305175781,
  'close': 92.30999755859375,
  'volume': 33729300,
  'adjclose': 87.33805847167969,
  'formatted_date': '2018-04-25'}]

`yahoo_financials` give data in the form of json unlike yfiance which gives us the data in the form of a dataframe

In [49]:
import pandas as pd
from yahoofinancials import YahooFinancials
import datetime as dt

all_tickers = ["AAPL","MSFT","CSCO","AMZN","INTC"]

# extracting stock data (historical close price) for the stocks identified
close_prices = pd.DataFrame()
end_date = (dt.date.today()).strftime('%Y-%m-%d')
beg_date = (dt.date.today()-dt.timedelta(1825)).strftime('%Y-%m-%d')
for ticker in all_tickers:
    yahoo_financials = YahooFinancials(ticker)
    json_obj = yahoo_financials.get_historical_price_data(beg_date,end_date,"daily")
    ohlv = json_obj[ticker]['prices']
    temp = pd.DataFrame(ohlv)[["formatted_date","adjclose"]]
    temp.set_index("formatted_date",inplace=True)
    temp.dropna(inplace=True)
    close_prices[ticker] = temp["adjclose"]
    
    
# extracting stock data (ohlcv) for the stocks identified
ohlv_dict = {}
end_date = (dt.date.today()).strftime('%Y-%m-%d')
beg_date = (dt.date.today()-dt.timedelta(1825)).strftime('%Y-%m-%d')
for ticker in all_tickers:
    yahoo_financials = YahooFinancials(ticker)
    json_obj = yahoo_financials.get_historical_price_data(beg_date,end_date,"daily")
    ohlv = json_obj[ticker]['prices']
    temp = pd.DataFrame(ohlv)[["formatted_date","adjclose","open","low","high","volume"]]
    temp.set_index("formatted_date",inplace=True)
    temp.dropna(inplace=True)
    ohlv_dict[ticker] = temp

In [51]:
ohlv_dict.keys()

dict_keys(['AAPL', 'MSFT', 'CSCO', 'AMZN', 'INTC'])

In [52]:
ohlv_dict["AMZN"]

                 adjclose       open        low       high     volume
formatted_date
2017-12-26      58.838001  58.417999  58.027500  58.916000   40104000
2017-12-27      59.112999  58.995499  58.780499  59.364498   37344000
2017-12-28      59.305000  59.450001  59.219002  59.505001   36834000
2017-12-29      58.473499  59.117500  58.375000  59.200001   53768000
2018-01-02      59.450500  58.599998  58.525501  59.500000   53890000
...                   ...        ...        ...        ...        ...
2022-12-16      87.860001  88.269997  86.730003  89.349998  146044000
2022-12-19      84.919998  87.510002  84.510002  87.629997   83531500
2022-12-20      85.190002  85.330002  84.330002  86.610001   74348300
2022-12-21      86.769997  86.180000  85.209999  87.230003   59267200
2022-12-22      83.790001  85.519997  82.250000  85.680000   81431300

[1258 rows x 5 columns]