In [5]:
import yfinance as yf

# get ohlcv data for any ticker by period.
data = yf.download("MSFT", period='1mo', interval="5m")

# get ohlcv data for any ticker by start date and end date
data = yf.download("MSFT", start="2017-01-01", end="2020-04-24")

# get intraday data for any ticker by period.
data = yf.download("MSFT", period='1mo', interval="1d")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-11-23,245.110001,248.279999,244.270004,247.580002,247.580002,19508500
2022-11-25,247.309998,248.699997,246.729996,247.490005,247.490005,9200800
2022-11-28,246.080002,246.649994,240.800003,241.759995,241.759995,24778200
2022-11-29,241.399994,242.789993,238.210007,240.330002,240.330002,17956300
2022-11-30,240.570007,255.330002,239.860001,255.139999,255.139999,47553800
2022-12-01,253.869995,256.119995,250.919998,254.690002,254.690002,26041500
2022-12-02,249.820007,256.059998,249.690002,255.020004,255.020004,21522800
2022-12-05,252.009995,253.820007,248.059998,250.199997,250.199997,23435300
2022-12-06,250.820007,251.860001,243.779999,245.119995,245.119995,22463700
2022-12-07,244.830002,246.160004,242.210007,244.369995,244.369995,20481500
2022-12-08,244.839996,248.740005,243.059998,247.399994,247.399994,22611800
2022-12-09,244.699997,248.309998,244.160004,245.419998,245.419998,20607100
2022-12-12,247.449997,252.539993,247.169998,252.509995,252.509995,30665100
2022-12-13,261.690002,263.920013,253.070007,256.920013,256.920013,42196900
2022-12-14,257.130005,262.589996,254.309998,257.220001,257.220001,35410900
2022-12-15,253.720001,254.199997,247.339996,249.009995,249.009995,35560400
2022-12-16,248.550003,249.839996,243.509995,244.690002,244.690002,86088100
2022-12-19,244.860001,245.210007,238.710007,240.449997,240.449997,29696400
2022-12-20,239.399994,242.910004,238.419998,241.800003,241.800003,25150800
2022-12-21,241.690002,245.619995,240.110001,244.429993,244.429993,23690600
2022-12-22,241.259995,241.990005,233.869995,238.190002,238.190002,28651700
2022-12-23,236.110001,238.830002,233.942795,237.860001,237.860001,16504656

Getting data for multiple tickers

In [8]:
import datetime as dt
import yfinance as yf
import pandas as pd

stocks = ["AMZN","MSFT","INTC","GOOG","INFY.NS","3988.HK"]
start = dt.datetime.today()-dt.timedelta(360)
end = dt.datetime.today()
cl_price = pd.DataFrame() # empty dataframe which will be filled with closing prices of each stock
ohlcv_data = {} # empty dictionary which will be filled with ohlcv dataframe for each ticker

# looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]
    

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in stocks:
    ohlcv_data[ticker] = yf.download(ticker,start,end)
    

cl_price

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,AMZN,MSFT,INTC,GOOG,INFY.NS,3988.HK
Date,,,,,,
2021-12-28,170.660995,338.082123,49.784054,146.447998,NaN,NaN
2021-12-29,169.201004,338.775665,49.851387,146.504501,1845.620483,2.576064
2021-12-30,168.644501,336.170044,49.764820,146.002502,1852.765869,2.594399
2021-12-31,166.716995,333.197906,49.533981,144.679504,1847.773926,2.576064
2022-01-03,170.404495,331.642456,51.178707,145.074493,1858.247314,2.594399
...,...,...,...,...,...,...
2022-12-16,87.860001,244.690002,26.920000,90.860001,1522.199951,2.760000
2022-12-19,84.919998,240.449997,26.790001,89.150002,1507.349976,2.760000
2022-12-20,85.190002,241.800003,26.440001,89.629997,1507.300049,2.750000
2022-12-21,86.769997,244.429993,26.830000,90.250000,1509.550049,2.760000
2022-12-22,83.790001,238.190002,25.969999,88.260002,1522.050049,2.800000