In [1]:
# -*- coding: utf-8 -*-
"""
Getting data Using yfinance library

@author: Mayank Rasu (http://rasuquant.com/wp/)
"""

import yfinance as yf

# get ohlcv data for any ticker by period.
data = yf.download("MSFT", period='1mo', interval="5m")

# get ohlcv data for any ticker by start date and end date
data = yf.download("MSFT", start="2017-01-01", end="2020-04-24")

# get intraday data for any ticker by period.
data = yf.download("MSFT", period='1mo', interval="5m")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [2]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-11-23 15:25:00-05:00,248.000000,248.029999,247.720001,247.770004,247.770004,0
2022-11-23 15:30:00-05:00,247.750000,247.794998,247.389999,247.404999,247.404999,134762
2022-11-23 15:35:00-05:00,247.419998,247.720001,247.298294,247.720001,247.720001,150159
2022-11-23 15:40:00-05:00,247.740005,247.785004,247.410004,247.639999,247.639999,168753
2022-11-23 15:45:00-05:00,247.645004,247.645004,247.149994,247.330002,247.330002,208642
...,...,...,...,...,...,...
2022-12-23 15:10:00-05:00,237.940002,238.259995,237.850006,238.100006,238.100006,113996
2022-12-23 15:15:00-05:00,238.100006,238.550003,238.100006,238.330002,238.330002,158398
2022-12-23 15:20:00-05:00,238.380005,238.389999,237.990005,238.000000,238.000000,147764
2022-12-23 15:25:00-05:00,238.009995,238.110001,237.990005,237.990005,237.990005,20913
2022-12-23 15:26:45-05:00,237.839996,237.839996,237.839996,237.839996,237.839996,0