# Coding MACD

In [1]:
import yfinance as yf

# Download historical data for required stocks
tickers = ["MSFT","AAPL","GOOG"]
ohlcv_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='15m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp

def MACD(DF, a=12 ,b=26, c=9):
    """function to calculate MACD
       typical values a(fast moving average) = 12; 
                      b(slow moving average) =26; 
                      c(signal line ma window) =9"""
    df = DF.copy()
    df["ma_fast"] = df["Adj Close"].ewm(span=a, min_periods=a).mean()
    df["ma_slow"] = df["Adj Close"].ewm(span=b, min_periods=b).mean()
    df["macd"] = df["ma_fast"] - df["ma_slow"]
    df["signal"] = df["macd"].ewm(span=c, min_periods=c).mean()
    return df.loc[:,["macd","signal"]]

for ticker in ohlcv_data:
    ohlcv_data[ticker][["MACD","SIGNAL"]] = MACD(ohlcv_data[ticker], a=12 ,b=26, c=9)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
ohlcv_data["GOOG"].tail()

,Open,High,Low,Close,Adj Close,Volume,MACD,SIGNAL
Datetime,,,,,,,,
2023-02-07 15:00:00-05:00,107.230003,107.449997,106.760002,106.980003,106.980003,1074812,0.647919,0.510550
2023-02-07 15:15:00-05:00,106.980003,107.610001,106.980003,107.610001,107.610001,986319,0.715457,0.551532
2023-02-07 15:30:00-05:00,107.614998,107.989998,107.570000,107.959999,107.959999,1005700,0.788139,0.598853
2023-02-07 15:45:00-05:00,107.970001,108.669998,107.970001,108.010002,108.010002,2801961,0.840090,0.647100
2023-02-07 16:00:00-05:00,108.040001,108.040001,108.040001,108.040001,108.040001,0,0.873612,0.692403

# ATR

In [6]:
# Import necesary libraries
import yfinance as yf

# Download historical data for required stocks
tickers = ["AMZN","GOOG","MSFT"]
ohlcv_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp

def ATR(DF, n=14):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Adj Close"].shift(1))
    df["L-PC"] = abs(df["Low"] - df["Adj Close"].shift(1))
    df["TR"] = df[["H-L","H-PC","L-PC"]].max(axis=1, skipna=False)
    df["ATR"] = df["TR"].ewm(com=n, min_periods=n).mean()
    return df["ATR"]

for ticker in ohlcv_data:
    ohlcv_data[ticker]["ATR"] = ATR(ohlcv_data[ticker])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
ohlcv_data["GOOG"].tail()

,Open,High,Low,Close,Adj Close,Volume,ATR
Datetime,,,,,,,
2023-02-07 15:40:00-05:00,107.809998,107.989998,107.790001,107.959999,107.959999,380778,0.335325
2023-02-07 15:45:00-05:00,107.970001,108.360001,107.970001,108.275002,108.275002,542590,0.339637
2023-02-07 15:50:00-05:00,108.279999,108.669998,108.279999,108.668800,108.668800,786513,0.343327
2023-02-07 15:55:00-05:00,108.660004,108.660004,107.974998,108.010002,108.010002,1472858,0.366692
2023-02-07 16:00:00-05:00,108.040001,108.040001,108.040001,108.040001,108.040001,0,0.344246

# Bollinger Band

In [8]:

# Download historical data for required stocks
tickers = ["AMZN","GOOG","MSFT"]
ohlcv_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp

def Boll_Band(DF, n=14):
    "function to calculate Bollinger Band"
    df = DF.copy()
    df["MB"] = df["Adj Close"].rolling(n).mean()
    df["UB"] = df["MB"] + 2*df["Adj Close"].rolling(n).std(ddof=0)
    df["LB"] = df["MB"] - 2*df["Adj Close"].rolling(n).std(ddof=0)
    df["BB_Width"] = df["UB"] - df["LB"]
    return df[["MB","UB","LB","BB_Width"]]

for ticker in ohlcv_data:
    ohlcv_data[ticker][["MB","UB","LB","BB_Width"]] = Boll_Band(ohlcv_data[ticker])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
ohlcv_data["GOOG"].tail()

,Open,High,Low,Close,Adj Close,Volume,MB,UB,LB,BB_Width
Datetime,,,,,,,,,,
2023-02-07 15:40:00-05:00,107.809998,107.989998,107.790001,107.959999,107.959999,380778,107.310129,108.003467,106.616791,1.386676
2023-02-07 15:45:00-05:00,107.970001,108.360001,107.970001,108.275002,108.275002,542590,107.408343,108.220790,106.595897,1.624893
2023-02-07 15:50:00-05:00,108.279999,108.669998,108.279999,108.668800,108.668800,786513,107.527543,108.532293,106.522793,2.009500
2023-02-07 15:55:00-05:00,108.660004,108.660004,107.974998,108.010002,108.010002,1472858,107.591829,108.596660,106.586998,2.009661
2023-02-07 16:00:00-05:00,108.040001,108.040001,108.040001,108.040001,108.040001,0,107.641115,108.661236,106.620994,2.040242

# RSI

In [11]:
import numpy as np
tickers = ["AMZN","GOOG","MSFT"]
ohlcv_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp
    
def RSI(DF, n=14):
    "function to calculate RSI"
    df = DF.copy()
    df["change"] = df["Adj Close"] - df["Adj Close"].shift(1)
    df["gain"] = np.where(df["change"]>=0, df["change"], 0)
    df["loss"] = np.where(df["change"]<0, -1*df["change"], 0)
    df["avgGain"] = df["gain"].ewm(alpha=1/n, min_periods=n).mean()
    df["avgLoss"] = df["loss"].ewm(alpha=1/n, min_periods=n).mean()
    df["rs"] = df["avgGain"]/df["avgLoss"]
    df["rsi"] = 100 - (100/ (1 + df["rs"]))
    return df["rsi"]


for ticker in ohlcv_data:
    ohlcv_data[ticker]["RSI"] = RSI(ohlcv_data[ticker])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [12]:
ohlcv_data["GOOG"].tail()

,Open,High,Low,Close,Adj Close,Volume,RSI
Datetime,,,,,,,
2023-02-07 15:40:00-05:00,107.809998,107.989998,107.790001,107.959999,107.959999,380778,71.940382
2023-02-07 15:45:00-05:00,107.970001,108.360001,107.970001,108.275002,108.275002,542590,74.947538
2023-02-07 15:50:00-05:00,108.279999,108.669998,108.279999,108.668800,108.668800,786513,78.106437
2023-02-07 15:55:00-05:00,108.660004,108.660004,107.974998,108.010002,108.010002,1472858,63.647690
2023-02-07 16:00:00-05:00,108.040001,108.040001,108.040001,108.040001,108.040001,0,63.974719