# Coding MACD

In [17]:
import yfinance as yf

# Download historical data for required stocks
tickers = ["MSFT", "AAPL", "ADANIPORTS.NS"]
ohlcv_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker, period='1mo', interval='15m')
    temp.dropna(how="any", inplace=True)
    ohlcv_data[ticker] = temp


def MACD(DF, a=12, b=26, c=9):
    """function to calculate MACD
       typical values a(fast moving average) = 12; 
                      b(slow moving average) =26; 
                      c(signal line ma window) =9"""
    df = DF.copy()
    df["ma_fast"] = df["Adj Close"].ewm(span=a, min_periods=a).mean()
    df["ma_slow"] = df["Adj Close"].ewm(span=b, min_periods=b).mean()
    df["macd"] = df["ma_fast"] - df["ma_slow"]
    df["signal"] = df["macd"].ewm(span=c, min_periods=c).mean()
    return df.loc[:, ["macd", "signal"]]


for ticker in ohlcv_data:
    ohlcv_data[ticker][["MACD", "SIGNAL"]] = MACD(
        ohlcv_data[ticker], a=12, b=26, c=9)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [18]:
ohlcv_data["ADANIPORTS.NS"].tail()

,Open,High,Low,Close,Adj Close,Volume,MACD,SIGNAL
Datetime,,,,,,,,
2023-02-07 14:30:00+05:30,550.750000,561.950012,550.150024,556.799988,556.799988,1058802,4.031288,9.806804
2023-02-07 14:45:00+05:30,556.750000,558.900024,550.750000,554.900024,554.900024,1039994,2.974968,8.440437
2023-02-07 15:00:00+05:30,554.549988,555.650024,550.500000,551.799988,551.799988,989645,1.866168,7.125583
2023-02-07 15:15:00+05:30,551.700012,556.849976,548.849976,555.950012,555.950012,1824931,1.307239,5.961915
2023-02-07 15:30:00+05:30,553.150024,553.150024,553.150024,553.150024,553.150024,0,0.631074,4.895746

# ATR

In [19]:
# Import necesary libraries
import yfinance as yf

# Download historical data for required stocks
tickers = ["AMZN", "ADANIPORTS.NS", "MSFT"]
ohlcv_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker, period='1mo', interval='5m')
    temp.dropna(how="any", inplace=True)
    ohlcv_data[ticker] = temp


def ATR(DF, n=14):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Adj Close"].shift(1))
    df["L-PC"] = abs(df["Low"] - df["Adj Close"].shift(1))
    df["TR"] = df[["H-L", "H-PC", "L-PC"]].max(axis=1, skipna=False)
    df["ATR"] = df["TR"].ewm(com=n, min_periods=n).mean()
    return df["ATR"]


for ticker in ohlcv_data:
    ohlcv_data[ticker]["ATR"] = ATR(ohlcv_data[ticker])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [20]:
ohlcv_data["ADANIPORTS.NS"].tail()

,Open,High,Low,Close,Adj Close,Volume,ATR
Datetime,,,,,,,
2023-02-07 15:10:00+05:30,551.700012,552.450012,550.500000,551.799988,551.799988,486942,5.105183
2023-02-07 15:15:00+05:30,551.700012,556.849976,548.849976,555.799988,555.799988,937410,5.298170
2023-02-07 15:20:00+05:30,555.250000,556.799988,554.200012,554.299988,554.299988,487642,5.118291
2023-02-07 15:25:00+05:30,554.450012,556.000000,554.049988,555.950012,555.950012,399879,4.907072
2023-02-07 15:30:00+05:30,553.150024,553.150024,553.150024,553.150024,553.150024,0,4.766600

# Bollinger Band

In [21]:

# Download historical data for required stocks
tickers = ["AMZN", "ADANIPORTS.NS", "MSFT"]
ohlcv_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker, period='1mo', interval='5m')
    temp.dropna(how="any", inplace=True)
    ohlcv_data[ticker] = temp


def Boll_Band(DF, n=14):
    "function to calculate Bollinger Band"
    df = DF.copy()
    df["MB"] = df["Adj Close"].rolling(n).mean()
    df["UB"] = df["MB"] + 2*df["Adj Close"].rolling(n).std(ddof=0)
    df["LB"] = df["MB"] - 2*df["Adj Close"].rolling(n).std(ddof=0)
    df["BB_Width"] = df["UB"] - df["LB"]
    return df[["MB", "UB", "LB", "BB_Width"]]


for ticker in ohlcv_data:
    ohlcv_data[ticker][["MB", "UB", "LB", "BB_Width"]
                       ] = Boll_Band(ohlcv_data[ticker])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [22]:
ohlcv_data["ADANIPORTS.NS"].tail()

,Open,High,Low,Close,Adj Close,Volume,MB,UB,LB,BB_Width
Datetime,,,,,,,,,,
2023-02-07 15:10:00+05:30,551.700012,552.450012,550.500000,551.799988,551.799988,486942,555.357134,561.980128,548.734140,13.245988
2023-02-07 15:15:00+05:30,551.700012,556.849976,548.849976,555.799988,555.799988,937410,555.099989,561.343834,548.856143,12.487690
2023-02-07 15:20:00+05:30,555.250000,556.799988,554.200012,554.299988,554.299988,487642,554.796417,560.746134,548.846701,11.899433
2023-02-07 15:25:00+05:30,554.450012,556.000000,554.049988,555.950012,555.950012,399879,554.592848,560.163664,549.022031,11.141632
2023-02-07 15:30:00+05:30,553.150024,553.150024,553.150024,553.150024,553.150024,0,554.746421,560.023378,549.469463,10.553915

# RSI

In [23]:
import numpy as np
tickers = ["AMZN", "ADANIPORTS.NS", "MSFT"]
ohlcv_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker, period='1mo', interval='5m')
    temp.dropna(how="any", inplace=True)
    ohlcv_data[ticker] = temp


def RSI(DF, n=14):
    "function to calculate RSI"
    df = DF.copy()
    df["change"] = df["Adj Close"] - df["Adj Close"].shift(1)
    df["gain"] = np.where(df["change"] >= 0, df["change"], 0)
    df["loss"] = np.where(df["change"] < 0, -1*df["change"], 0)
    df["avgGain"] = df["gain"].ewm(alpha=1/n, min_periods=n).mean()
    df["avgLoss"] = df["loss"].ewm(alpha=1/n, min_periods=n).mean()
    df["rs"] = df["avgGain"]/df["avgLoss"]
    df["rsi"] = 100 - (100 / (1 + df["rs"]))
    return df["rsi"]


for ticker in ohlcv_data:
    ohlcv_data[ticker]["RSI"] = RSI(ohlcv_data[ticker])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [24]:
ohlcv_data["ADANIPORTS.NS"].tail()

,Open,High,Low,Close,Adj Close,Volume,RSI
Datetime,,,,,,,
2023-02-07 15:10:00+05:30,551.700012,552.450012,550.500000,551.799988,551.799988,486942,38.753687
2023-02-07 15:15:00+05:30,551.700012,556.849976,548.849976,555.799988,555.799988,937410,44.596526
2023-02-07 15:20:00+05:30,555.250000,556.799988,554.200012,554.299988,554.299988,487642,42.942115
2023-02-07 15:25:00+05:30,554.450012,556.000000,554.049988,555.950012,555.950012,399879,45.344062
2023-02-07 15:30:00+05:30,553.150024,553.150024,553.150024,553.150024,553.150024,0,42.104913

# ADX

In [25]:
tickers = ["AMZN", "ADANIPORTS.NS", "MSFT"]
ohlcv_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker, period='1mo', interval='5m')
    temp.dropna(how="any", inplace=True)
    ohlcv_data[ticker] = temp


def ATR(DF, n=14):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Adj Close"].shift(1))
    df["L-PC"] = abs(df["Low"] - df["Adj Close"].shift(1))
    df["TR"] = df[["H-L", "H-PC", "L-PC"]].max(axis=1, skipna=False)
    df["ATR"] = df["TR"].ewm(com=n, min_periods=n).mean()
    return df["ATR"]


def ADX(DF, n=20):
    "function to calculate ADX"
    df = DF.copy()
    df["ATR"] = ATR(DF, n)
    df["upmove"] = df["High"] - df["High"].shift(1)
    df["downmove"] = df["Low"].shift(1) - df["Low"]
    df["+dm"] = np.where((df["upmove"] > df["downmove"]) &
                         (df["upmove"] > 0), df["upmove"], 0)
    df["-dm"] = np.where((df["downmove"] > df["upmove"]) &
                         (df["downmove"] > 0), df["downmove"], 0)
    df["+di"] = 100 * (df["+dm"]/df["ATR"]).ewm(alpha=1 /
                                                n, min_periods=n).mean()
    df["-di"] = 100 * (df["-dm"]/df["ATR"]).ewm(alpha=1 /
                                                n, min_periods=n).mean()
    df["ADX"] = 100 * abs((df["+di"] - df["-di"])/(df["+di"] +
                          df["-di"])).ewm(alpha=1/n, min_periods=n).mean()
    return df["ADX"]


for ticker in ohlcv_data:
    ohlcv_data[ticker]["ADX"] = ADX(ohlcv_data[ticker], 20)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [26]:
ohlcv_data["ADANIPORTS.NS"].tail()

,Open,High,Low,Close,Adj Close,Volume,ADX
Datetime,,,,,,,
2023-02-07 15:10:00+05:30,551.700012,552.450012,550.500000,551.799988,551.799988,486942,22.360738
2023-02-07 15:15:00+05:30,551.700012,556.849976,548.849976,555.799988,555.799988,937410,21.782615
2023-02-07 15:20:00+05:30,555.250000,556.799988,554.200012,554.299988,554.299988,487642,21.233399
2023-02-07 15:25:00+05:30,554.450012,556.000000,554.049988,555.950012,555.950012,399879,20.728157
2023-02-07 15:30:00+05:30,553.150024,553.150024,553.150024,553.150024,553.150024,0,20.351872

# RENKO

In [31]:
import yfinance as yf
from stocktrends import Renko
# Download historical data for required stocks
tickers = ["AMZN", "ADANIPORTS.NS", "MSFT"]
ohlcv_data = {}
hour_data = {}
renko_data = {}

# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in tickers:
    temp = yf.download(ticker, period='1mo', interval='5m')
    temp.dropna(how="any", inplace=True)
    ohlcv_data[ticker] = temp
    temp = yf.download(ticker, period='1y', interval='1h')
    temp.dropna(how="any", inplace=True)
    hour_data[ticker] = temp


def ATR(DF, n=14):
    "function to calculate True Range and Average True Range"
    df = DF.copy()
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Adj Close"].shift(1))
    df["L-PC"] = abs(df["Low"] - df["Adj Close"].shift(1))
    df["TR"] = df[["H-L", "H-PC", "L-PC"]].max(axis=1, skipna=False)
    df["ATR"] = df["TR"].ewm(com=n, min_periods=n).mean()
    return df["ATR"]


def renko_DF(DF, hourly_df):
    "function to convert ohlc data into renko bricks"
    df = DF.copy()
    df.reset_index(inplace=True)
    df.drop("Close", axis=1, inplace=True)
    df.columns = ["date", "open", "high", "low", "close", "volume"]
    df2 = Renko(df)
    df2.brick_size = 3*round(ATR(hourly_df, 120).iloc[-1], 0)
    # if using older version of the library please use get_bricks() instead
    renko_df = df2.get_ohlc_data()
    return renko_df


for ticker in ohlcv_data:
    renko_data[ticker] = renko_DF(ohlcv_data[ticker], hour_data[ticker])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [33]:
renko_data["ADANIPORTS.NS"].tail(10)

                        date   open   high    low  close  uptrend
2  2023-01-27 10:40:00+05:30  720.0  720.0  675.0  675.0    False
3  2023-01-27 11:55:00+05:30  675.0  675.0  630.0  630.0    False
4  2023-01-27 12:25:00+05:30  630.0  630.0  585.0  585.0    False
5  2023-02-01 14:25:00+05:30  585.0  585.0  540.0  540.0    False
6  2023-02-01 14:40:00+05:30  540.0  540.0  495.0  495.0    False
7  2023-02-02 09:15:00+05:30  495.0  495.0  450.0  450.0    False
8  2023-02-03 10:40:00+05:30  450.0  450.0  405.0  405.0    False
9  2023-02-03 14:50:00+05:30  450.0  495.0  450.0  495.0     True
10 2023-02-06 14:45:00+05:30  495.0  540.0  495.0  540.0     True
11 2023-02-07 10:10:00+05:30  540.0  585.0  540.0  585.0     True

Can use talib library for patterns but I don't wish to do that